.text-align-center{
    text-align: center;
  }
  .text-align-left{
    text-align: left
  }
  .flex{
    display: flex;
  }
  .justify-content-space-bet{
    justify-content: space-between;
  }
  .align-items-cent{
    align-items: center;
  }
  .justify-content-center{
    justify-content: center;
  }